# Archivos auxiliares de LaTeX
aux/

# Node modules
node_modules/
backend/node_modules/
frontend/node_modules/

# Variables de entorno
backend/.env
frontend/.env

# Otros archivos comunes de LaTeX (por si acaso)
*.log
*.aux
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.toc
*.lof
*.lot
*.idx
*.ilg
*.ind
*.nlo
*.nls

# Archivos de compilación de PDF
build/

#vsCode
.vscode/
analisis.md

# Build
frontend/dist/
backend/dist/