# Archivos auxiliares de LaTeX
aux/
node_modules/
Portal/backend/node_modules/
Portal/frontend/node_modules/
.env
Portal/backend/.env
Portal/frontend/.env


# Otros archivos comunes de LaTeX (por si acaso)
*.log
*.aux
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.toc
*.lof
*.lot
*.idx
*.ilg
*.ind
*.nlo
*.nls

# Archivos de compilación de PDF
build/